!!!
%html
  %head
    %title
      Suggestor - #{yield(:title)}
      - # Optimize SEO
    = stylesheet_link_tag    "application", "data-turbolinks-track" => true, media: "all"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body{ :class => "theme-#{rand(1..4)}"}
    = yield
